<div id="taskbar">
    <div id="windowActions">
        <ul>
            <li id="close"></li>
            <li id="minimize"></li>
            <li id="maximize"></li>
        </ul>
    </div>
    <div id="applicationActions">
        <div id="noteActions">
            <ul>
                <li class="icon icon-togglesidebar" (click)="toggleSidebar()"></li>
                <li class="icon icon-delete" (click)="(notes.length === 1 || selectedNote.locked) || deleteNote()" [attr.disabled]="notes.length === 1 || selectedNote.locked"></li>
                <li class="icon icon-add" (click)="(selectedNote.title === '') || addNote()" [attr.disabled]="selectedNote.title === ''"></li>
                <li class="icon" [ngClass]="selectedNote.locked ? 'icon-lock' : 'icon-unlocked'" (click)="lockUnlockNote()"></li>
            </ul>
        </div>
    </div>
    <div id="noteSearch">
        <input type="search" 
            placeholder="Search" 
            [(ngModel)]="searchKeyword"
            (ngModelChange)='searchNote()'/>
    </div>
</div>
