@import "./../../commonStyles.less";

@redColor: #fc6a65;
@yellowColor: #fac451;
@greenColor: #44cd5c;

.boxShadow(@param){
  -webkit-box-shadow: @param;
  -moz-box-shadow: @param;
  box-shadow: @param;
}

#taskbar{
    background-color: @taskbarColor;
    padding: 5px 10px;
    #windowActions {
        display: inline-block;
        ul{
            list-style: none;
            margin: 0px;
            padding: 0px;
            li{
                display: inline-block;
                margin: 0px 4px;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                vertical-align: middle;
                &:nth-child(1){
                    background-color: @redColor;
                }
                &:nth-child(2){
                    background-color: @yellowColor;
                }
                &:nth-child(3){
                    background-color: @greenColor;
                }
            }
        }
    }
    #applicationActions{
        display: inline-block;
        margin-left: 10px;
        #noteActions{
            display: inline-block;
            ul{
                list-style: none;
                margin: 0px;
                padding: 0px;
                li{
                    display: inline-block;
                    margin: 0px 6px;
                    padding: 4px 15px;
                    background-color: @whiteColor;
                    border-radius: 4px;
                    font-size: 16px;
                    .boxShadow(0px 0px 2px 1px @boxShadowColor);
                    color: @fontColor;
                    cursor: pointer;
                    &[disabled="true"]{
						color: @fontLightColor;
						cursor: default;
                    }
                }
            }
        }
    }
    #applicationEventActions{
        display: inline-block;
        #noteSearch{
            display: inline-block;
            input{
                margin: 0px 6px;
                border-radius: 4px;
                border: 0px;
                height: 25px;
                font-size: 14px;
                padding: 0px 10px;
                .boxShadow(0px 0px 2px 1px @boxShadowColor);
                vertical-align: middle;
            }
        }
        #toggleSideview{
            display: inline-block;
            i{
                margin: 0px 6px;
                font-size: 16px;
                color: @fontColor;
                cursor: pointer;
                &[disabled="true"]{
                    color: @fontLightColor;
                    cursor: default;
                }
            }
        }
    }
    @media (max-width: 480px) {
        #applicationEventActions{
            display: block;
            #noteSearch{
                display: inline-block;
                margin-top: 10px;
                width: ~"calc(100% - 30px)";
                input{
                    width: 96%;
                }
            }
        }
    }
}