#content {
  display: flex;
  flex-flow: row wrap;
}
#content app-notes-list {
  width: 250px;
}
#content app-notes-list.fullView {
  display: none;
}
#content app-note-view {
  width: calc(100% - 250px);
}
#content app-note-view.fullView {
  width: 100%;
}
@media (max-width: 480px) {
  #content {
    position: relative;
  }
  #content app-notes-list {
    display: none;
  }
  #content app-notes-list.fullView {
    display: block;
    position: absolute;
    width: 250px;
  }
  #content app-note-view {
    width: 100%;
  }
  #content app-note-view.fullView {
    display: block;
  }
}
