<div id="sidebar">
    <ul>
        <li *ngFor="let note of notes; index as index" 
            [ngClass]="{ 'selcted' : selectedNoteIndex === index }"
            (click)="selectNote(index)">
            <div class="noteTitle">{{ note.title === '' ? 'New Note' :  note.title }}</div>
            <div class="noteMetaData">
                <div class="noteTimeStamp">{{ note.timeStamp | formatDate:'LT' }}</div>
                <div class="noteDescription">{{ note.description }}</div>
            </div>
        </li>
    </ul>
</div>
