<div id="sidebar">
    <div id="notesHeading" *ngIf="searchKeyword !== ''">Notes</div>
    <ul>
        <li *ngFor="let note of notes | searchFilter:searchKeyword; index as index" 
            [ngClass]="{ 'selcted' : selectedNoteIndex === index }"
            (click)="selectNote(index)">
            <div class="noteTitle" [innerHTML]="note.title === '' ? 'New Note' :  note.title"></div>
            <div class="noteMetaData">
                <div class="noteTimeStamp">{{ note.timeStamp | formatDate:'LT' }}</div>
                <div class="noteDescription" [innerHTML]="note.description"></div>
            </div>
        </li>
    </ul>
</div>
