@charset "UTF-8";
@font-face {
  font-family: "notes-application";
  src: url("assets/fonts/notes-application.eot");
  src: url("assets/fonts/notes-application.eot?#iefix") format("embedded-opentype"), url("assets/fonts/notes-application.woff") format("woff"), url("assets/fonts/notes-application.ttf") format("truetype"), url("assets/fonts/notes-application.svg#notes-application") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "notes-application" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "notes-application" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}
.icon-delete:before {
  content: "\61";
}
.icon-add:before {
  content: "\62";
}
.icon-togglesidebar:before {
  content: "\63";
}
.icon-search:before {
  content: "\64";
}
.icon-lock:before {
  content: "\65";
}
.icon-unlocked:before {
  content: "\6a";
}
.icon-clear:before {
  content: "\66";
}
.icon-toggleright:before {
  content: "\67";
}
.icon-toggleleft:before {
  content: "\68";
}
.icon-togglelayout:before {
  content: "\69";
}
#noteView {
  overflow-y: scroll;
  padding: 10px;
  height: calc(100vh - 60px);
}
#noteView::-webkit-scrollbar {
  width: 10px;
}
#noteView::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 2px 1px #d6d6d6;
  -moz-box-shadow: inset 0px 0px 2px 1px #d6d6d6;
  box-shadow: inset 0px 0px 2px 1px #d6d6d6;
}
#noteView::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 50px;
}
#noteView::-webkit-scrollbar-thumb:hover {
  background: #888888;
}
#noteView .timeStamp {
  text-align: center;
  color: #969695;
}
#noteView input {
  margin: 20px;
  width: calc(100% - 40px);
  border: 0px;
  padding: 0px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
}
#noteView textarea {
  margin: 20px;
  width: calc(100% - 40px);
  min-height: calc(100vh - 230px);
  border: 0px;
  padding: 0px;
  outline: none;
  font-size: 14px;
  resize: none;
  text-indent: 0px;
}
